.header {
  padding: 1rem;
  border-bottom: 1px solid #707070;
  background-color: #f0f0f0;
  color: #333;
  font-weight: bold;
  font-size: 1.2rem;
}

.title {
  font-size: clamp(1.5rem, 4vw, 2rem);
}
